.hideMe > div {
  display: none;
  color: #000;
}

.commaList:after {
  content: ',';
}

.commaList:last-child:after {
  content: '';
}

div.hiddenMessage {
  display: none;
}

div:not(.hideMe) > h4 {
  color: #23BAD8;
}

.definitionStyle {
  border-top: 5px solid #999;
}